---
---

@import "{{ site.theme }}";

body {
    background: #CBC9A8;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.inner {
    position: relative;
    max-width: 800px;
    padding: 20px 10px;
    margin: 0 auto;
}
#header_wrap {
    background: #CBC9A8;
}
#footer_wrap {
    background: #CBC9A8;
}
#project_tagline {
    color: #000;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: none;
}
#project_title {
    margin: 0;
    color: #000;
    font-size: 42px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: none;
}
#forkme_banner {
    color: #000;
    background: none;
    box-shadow: none;
}
footer p {
    color: #000;
}
footer a {
    color: #000;
}
